global
    log 127.0.0.1 local0 notice
    maxconn 2000
   # user haproxy
   # group haproxy


defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    retries 3
    option redispatch
    timeout connect  5000
    timeout client  10000
    timeout server  10000


 listen monopoly 0.0.0.0:8000
    mode http
    #stats disable
    #stats uri /haproxy?stats
    #stats realm Strictly\ Private
    #stats auth A_Username:YourPassword
    #stats auth Another_User:passwd
    balance roundrobin
    option httpclose
    option forwardfor
    server dice1 192.168.99.100:8080 check
    server dice2 192.168.99.100:9090 check